<h1>Update Pet</h1>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="landmark[name]" id="landmark_name" value="<%=@landmark.name%>">
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
